<%= simple_form_for @article, html: { class: "form"} do |f| %>
  <%= render "editor_toolbar" %>

  <div class="form-group">
    <%= f.text_area :content, class: "topic-editor form-control closewarning", rows: 20 %>
    <div id="preview" class="markdown form-control" style="display: none;">
  </div>

<% end %>