/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require flexslider
 *= require magnific-popup
 *= require style
 *= require devise
 *= require_tree .
 *= require_self
 */



@import "bootstrap";

.header-bar {
  min-height: 40px;
  margin-bottom: 0px;

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
  }

  .navbar-nav{
    margin-top: 5px;
    margin-bottom: 5px;

    a {
      display: inline-block;
      padding-right: 0px;
      padding-left: 0px;  
      text-transform: none;
    }

    a.sign-in {
      font-weight: bold;
    }

    a.sign-out {
      margin-left: 5px;
      color: orange;
    }

    a.logo {
      font-size: 24px;
    }

  }
}

.navbar-collapse {
  padding-left: 0px;

  a.first {
    padding-left: 0px;
    padding-right: 10px;
  }

  a.last {
    padding-right: 0px;
  }
}


.home-navbar {
  border: none;
  background: #000;

  .navbar-nav > li > a {
    color: #fff;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 16px;

    &:hover {
      color: #fff;
    }
  }

  li.active {
    a {
      background: #444 !important;
      color: #fff !important;
    }
  }
}


.footer {
  margin: 0px;
  padding: 10px 0px;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  font-size: 12px;
  background: #444;
  color: #fff;

  .col-lg-12 {
    margin-bottom: 0px;
  }
}


.user_bar {
  padding: 20px;
  color: #fff;
}