.home-articles {
  .panel-default {
    border-color: #999;
  }

  .article-title {
    float: left;
    padding-right: 10px;
    font-size: 15px;
  }

  .label-wapper {
    margin-top: 3px;
    font-size: 12px;
  }

  .wapper {
    padding: 10px 0px;
  }

  hr {

  }

  .badge {
    margin-top: 10px;
    a {
      margin: 10px;
      font-size: 14px;
      color: #fff;
      white-space:normal;
      text-overflow:ellipsis;
    }
  }
}

.home-article-show {
  min-height: 700px;
}