// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-bar {
  min-height: 40px;
  margin-bottom: 0px;

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
  }

  .navbar-nav{
    margin-top: 5px;
    margin-bottom: 5px;

    .search {
      width: 260px;
      padding: 0px 10px;
    }
    .search-input {
      margin-top: 5px;
      height: 30px;
    }

    .search-button {
      margin-top: 5px;
      height: 30px;
      width: 35px;
      font-size: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }

    a {
      display: inline-block;
      padding-right: 0px;
      padding-left: 0px;
      text-transform: none;
    }

    a.sign-in {
      font-weight: bold;
      font-size: 15px;
    }

    a.sign-out {
      margin-left: 5px;
      font-size: 15px;
      color: orange;
    }

    a.logo {
      font-size: 24px;
    }

  }
}

.navbar-collapse {
  padding-left: 0px;

  a.first {
    padding-left: 0px;
    padding-right: 10px;
    font-size: 16px;
  }

  a.last {
    padding-right: 0px;
    font-size: 14px;
  }
}


.home-navbar {
  border: none;
  background: #000;

  .navbar-nav > li > a {
    color: #fff;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 15px;

    &:hover {
      color: #fff;
    }
  }

  li.active {
    a {
      background: #444 !important;
      color: #fff !important;
    }
  }
}


.footer {
  margin: 0px;
  padding: 10px 0px;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  font-size: 12px;
  background: #444;
  color: #fff;

  .col-lg-12 {
    margin-bottom: 0px;
  }
}

.navbar-fixed-top {
  margin-bottom: 0px;
}

.user_bar {
  padding: 20px;
  color: #fff;
}

