@media (min-width: 1201px){
  .board-title {
    font-size: 2.5rem;
  }
}


@media (min-width: 768px) and (max-width: 1200px){
  .header-right {
    display: none;
  }

  .board-title {
    font-size: 2.0rem;
  }
}

@media (max-width: 767px){
  .header-bar {
    display: none;
  }

  .board-main {
    padding-top: 50px;
  }

  .board-title {
    font-size: 1.5rem;
  }
}