@media (min-width: 1201px){
  .harder-bar-mini {
    display: none;
  }

  .board-title {
    font-size: 2.5rem;
  }
}


@media (min-width: 1081px) and (max-width: 1200px){
  .harder-bar-mini,
  .header-right {
    display: none;
  }

  .board-title {
    font-size: 2.0rem;
  }
}

@media (min-width: 768px) and (max-width: 1080px){
  .header-bar {
    display: none;
  }

  .board-main, .about-me {
    padding-top: 50px;
  }

  .board-title {
    font-size: 1.5rem;
  }

}


@media (max-width: 767px){
  .header-bar {
    display: none;
  }

  .board-main, .about-me {
    padding-top: 50px;
  }

  .board-title {
    font-size: 1.5rem;
  }
}


@media (min-width: 768px) and (max-width: 1080px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-header {
    float: none;
  }

  .navbar-nav > li {
    float: none;
  }

  .collapse {
    display: none;
  }

  .navbar-collapse.collapse {
    display: none !important;
    height: auto;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .collapse.in {
    display: block;
  }

  .navbar-collapse.in {
    display: block !important;
    overflow-y: auto;
  }

  .navbar-collapse > center > ul {
    width: 100%;
  }

  .navbar-nav {
    margin: 7.5px -15px;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}